###################################
### Файлы проекта IntelliJ IDEA ###
###################################

.idea/*
out/*
*.iml


###################################
###        Файлы Eclipse        ###
###################################

.settings/*
bin/*
.classpath
.project

###################################
###        Файлы other          ###
###################################

src/META-INF/*